<!DOCTYPE html>
<head>
    <title>Graphing Calculator!</title>
    <!-- <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}"> -->
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Code+Pro"> -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="root">
        {% block content %}
        {% endblock %}
    </div>
</body>